<div ng-app="myApp">
  <div ng-controller="ballCtrl" ng-init="init()">
    x: {{x}} y: {{y}}
    <h1>Ball</h1>
    <button ng-click="start()">Start</button>
    <button ng-click="stop()">Stop</button>
    <svg></svg>
  </div>
</div>
